<div class="cover-flow-wrapper" cover-flow [cover-flow-disabled]="false" >
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=1027"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=1026"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=1011"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=987"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=974"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=912"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=899"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=867"></div>
    <div><img style="width: 100%; height: 100%;" src="https://picsum.photos/200/200?image=799"></div>    
</div>